@media only screen and (max-width: 720px) {
  /*================================
      Flex and order for mobile
  ================================*/
  body{
    @include flexbox;
    @include flex-column;
  }
  // main page content flex order
  header {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  #social {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }

  #prototype {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }

  #spotlight {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
  }

  #contact {
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4;
  }

  footer {
    -webkit-order: 5;
    -ms-flex-order: 5;
    order: 5;
  }

/* ===========
nav bar re-order
========== */

  nav ul {
    @include flex-column;
    font-size: 0.8em;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  nav ul li.brand {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    h2 {
      font-size: 1.2em;
    }
  }

  /*================================
  nav styles
  ================================*/

  nav {
    margin-top: 0;
    margin-bottom: 1em;
  }

  nav li {
    margin-bottom: 0.25em;
  }

  nav ul li a {
    max-width: 100%;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    border-bottom:  1px solid black;
  }

  /* ==============================
  SECTION #spotlight
  ============================== */

  #spotlight {
    @include flex-column;
    width: 99%;
  }

  .feature {
    padding: 0 auto;
    margin: 1em;
  }

  #spotlight h2 {
    display: inline;
  }

  .feature:first-child {
    margin-left: 1em;
    -webkit-box-shadow: 0px 4px 66px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 66px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 66px -9px rgba(0,0,0,0.75);
  }

  .feature:first-child, .feature:first-child img {
    border-radius: 0px;
  }

  .feature:last-child {
    margin-right: 1em;
    -webkit-box-shadow: 0px 4px 66px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 66px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 66px -9px rgba(0,0,0,0.75);
  }

  .feature:last-child, .feature:last-child img {
    border-radius: 0px;
  }

  .button {
    font-weight:bolder;
    text-align: center;
    padding: 1em ;
  }

  /* ==============================
  PARALLAX - DESCRIPTION
  ============================== */

  .parallax {
        display: none;
    }

    #description {
      columns: 1;
      margin: 1em;
    }

  /* ==============================
  SECTION #social
  ============================== */

  #social {
    width: 90%;
  }

  #social ul {
  }

  /* ==============================
        PROTOTYPE
  ============================== */

  .row {
    @include flexbox
    @include flex-column
    @include flex-center
    width: 100%;
    iframe {
      margin: auto;
      width: 95%;
      margin-top: 2em;
    }
  }


  /* ==============================
  FOOTER
  ============================== */

  footer {
    font-size: 0.8em
    p:nth-child(2) {
      display: none;
    }
  }


  /* ==============================
  HIDE / SHOW MOBILE
  ============================== */

  .hide-mob {
    display: none;
  }

  .show-mob {
    display: inline;
  }

  // %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

  .cm img{
    max-width: 300px;
    margin: auto;
  }

} /*close media query */
