.auto {
  margin: auto;
}

.ps {
  width: 90%;
  @include flexbox;
  @include flex-column;
  margin: 3em auto;
}

.cm {
  @include flexbox;
  @include flex-center;
  @include flex-column;
  width: 50%;
  min-width: 300px;
  margin: auto;
}

.study p {
  margin: 1em 0;
  font-size: 1.2em;
}

.row {
  @include flexbox
  @include flex-center
  width: 100%;
  iframe {
    margin: 2em;
    margin: auto;
    width: 315px;
    height: auto;
  }
}

/* =========================================
        GALLERY IMG HOVER
========================================= */


.gallery {
  @include flexbox
  width: 75%;
  margin: auto;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  flex-direction: row;
  @include flex-center
}
.art {
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  flex-direction: row;
  margin: 1em;
  width: 200px;
  &.map {
    width: 100%;
  }
}

.art img {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.art:hover img {
  z-index: 1;
  transform: scale(1.5);
}
