@import url('https://fonts.googleapis.com/css?family=Montserrat|Work+Sans:400,700');

$breakpoints-sm: 320px;
$breakpoints-md: 600px;
$breakpoints-lg: 768px;

$grid-columns: 12;
$grid-max-width: 62rem;

$bfontsize: 16pt;
$bodyfont: 'Monsterrat', sans-serif;
$headfont: 'Work Sans', sans-serif;
$listpadding: 1rem;
$gutter: 1rem;

$success: #4f8a10;
$info: #00529b;
$warning: #9f6000;
$danger: #d8000c;
$slate: #708090;
$charcoal: #0d0d0d;
$cream: #ebebeb;
