/* ==============================
            MIXINS
============================== */

@import "mixin";

/* ==============================
    IMPORT ADDITIONAL FILES
============================== */

@import "variables";

@import "animate";

@import "projects";

/* ==============================
    BASIC STYLES / DEFAULT
============================== */

body{
  font-size: $bfontsize;
  font-family: $bodyfont;
  height: 100%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6{
  font-family: $headfont;
}


*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  @include border-box;
}

.left {
  float: left;
}

.right {
  float: right;
}

a{
  color: $charcoal
}
a:hover {
  text-decoration: none;
}

ul li { list-style-type: none;}

/* ==========================================
                HIDE / SHOW MOBILE
 ========================================== */

.hide-mob {
  display: block;
}

.show-mob {
  display: none;
}

/*==============================================================================
                              BUTTON
==============================================================================*/

.button {
  background-color: #88B04B;background-image: -webkit-linear-gradient(top, #88B04B, #648236);
  background-image: -moz-linear-gradient(top, #88B04B, #648236);
  background-image: -ms-linear-gradient(top, #88B04B, #648236);
  background-image: -o-linear-gradient(top, #88B04B, #648236);
  background-image: linear-gradient(to bottom, #88B04B, #648236);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: $cream;
  font-size: 1.1em;
  padding: 1em 2em;
  text-transform: uppercase;
  margin-top: auto;
  text-align: center;
  border: 1px solid #648236;
}

.button:hover {
  background: $cream;
  border: 1px solid #648236;
  color: $charcoal;
}

/*==============================================================================
                    Font awesome, social media links
==============================================================================*/

.fa {
  padding: 0.25em;
  border-radius: 10px;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-flickr {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

/* Twitter */
.fa-linkedin {
    background: #0077b5;
    color: white;
}

.fa-flickr {
  background: #ff0084;
}
.fa-bitbucket {
  background: #205081;
  color: $cream;
}
.fa-github{
  background: black;
  color: $cream;
}

/*==============================================================================
                          Header stylings
==============================================================================*/

header {
  background: #2e2e2e;
  color: #ebebeb;
  margin: 0;
  padding: 1em;
}

nav {
  width: 90%;
  height: 100%;
  margin: 1em 0;
}

nav ul, nav li {
  padding: 0;
  margin: 0;
  list-style: none;
  min-height: 0;
  @include flexbox;
}

nav ul li a {
  font-size: 1em;
  color: #ebebeb;
  margin: auto 1em;
  padding: 0.5em .25em;
  display: block;
  max-width: 5em;
  box-sizing: content-box;
}

nav li {
  @include flex-center;
  &.brand {
    margin-right: auto;
    margin-left: 1em;
    text-transform: uppercase;
  }
}

nav li:hover {
  background: #3f3f3f;
}

nav li.brand {
  background: none;
}

.blink {
  animation: fadeIn 1s infinite alternate;
}

/*  ============================================================================
                                  SECTION #spotlight
============================================================================= */

.sections {
  width: 90%;
  @include flexbox;
  @include flex-row;
  margin: 3em auto;
}

.ps {
  width: 90%;
  @include flexbox;
  @include flex-column;
  margin: 3em auto;
}

#spotlight {
  h2 {
    display: none;
  }
}

.sections h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1em;
}

.feature {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  @include flexbox;
  @include flex-center;
  @include flex-column;
  padding: 1em;
  border: 1px solid #7e7e7e;
  margin: 1em;
  vertical-align: middle;
  -webkit-box-shadow: 0px 4px 66px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 66px -9px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 66px -9px rgba(0,0,0,0.75);
  h2, h3 {
    margin: 1em 0;
  }
  p {
    margin-bottom: 2em;
  }
  p:nth-child(2) {
    margin-bottom: 1em;
  }
}

.feature:first-child {
  margin-left: 0;
  -webkit-box-shadow: -12px 4px 66px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: -12px 4px 66px -9px rgba(0,0,0,0.75);
  box-shadow: -12px 4px 66px -9px rgba(0,0,0,0.75);
}

.feature:last-child {
  margin-right: 0;
  -webkit-box-shadow: 12px 4px 66px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 12px 4px 66px -9px rgba(0,0,0,0.75);
  box-shadow: 12px 4px 66px -9px rgba(0,0,0,0.75);
}

.img-wrap  img {
  width: 100%;
}

/*  ============================================================================
                                  PARALLAX
============================================================================= */

.parallax {
    /* The image used */
    background-image: url('../images/timelapse-crop.jpg');

    /* Full height */
    // height: 100%;
    height: 300px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // margin: 2em 0;
    &#map {
      background-image: url('../images/nw-map.png');
      height: 600px;
    }
  }

/*  ============================================================================
                                  SECTION #social
============================================================================= */

#social {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 5em auto;
  display: inline;
}

.description {
  width: 25%;
  min-width: 300px;
  margin: 3em auto;
  font-size: 1.2em;
  line-height: 1.5em;
}

#abilities {
  margin-top: 2em;
}

#social ul, #social ul li {
  padding: 1em;
  margin: 1em;
  list-style: none;
  min-height: 0;
  @include flexbox;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-around;
  align-self: baseline;
}


/*  ============================================================================
                                  SECTION #contact
============================================================================= */

#contact {
  width: 100%;
  background: $charcoal;
  color: $cream;
  padding: 3em 0;
  margin-bottom: -50px;
}

#contact ul {
  @include flexbox
  margin: 1em;
  li {
    margin: auto;
  }
}

#contact ul li a:visited {
  color: $cream;
}
#contact ul li a:link {
  color: $cream;
}#contact ul li a:hover {
  color: $cream;
}#contact ul li a:active {
  color: $cream;
}
/*  ============================================================================
                                FOOTER
============================================================================= */

footer {
  font-size: 1em;
  background-color: #ebebeb;
  text-align: center;
  letter-spacing: 1em;
  text-transform: capitalize;
  padding: 3em 0;
  width: 100%;
  p:nth-child(2) {
    letter-spacing: 3pt;
    font-size: 0.75em;
  }
  a {
    text-decoration: none;
    color: $charcoal;
    font-weight: bolder;
  }
  a:hover {
    text-decoration: underline;
  }
}




/* =======================================================================
                          MEDIA QUERY
======================================================================= */

@import "mobile";

@import "modal";
