/* ==============================
            MIXINS
============================== */
/* ==============================
    IMPORT ADDITIONAL FILES
============================== */
@import url("https://fonts.googleapis.com/css?family=Montserrat|Work+Sans:400,700");
@keyframes fademenu {
  from {
    background-color: #0d0d0d; }
  to {
    background-color: #4d4d4d; } }

@keyframes fadeIn {
  from {
    opacity: 0; } }

.auto {
  margin: auto; }

.ps {
  width: 90%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  flex-direction: column;
  margin: 3em auto; }

.cm {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-pack: center;
  align-items: center;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  flex-direction: column;
  width: 50%;
  min-width: 300px;
  margin: auto; }

.study p {
  margin: 1em 0;
  font-size: 1.2em; }

.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-pack: center;
  align-items: center;
  width: 100%; }
  .row iframe {
    margin: 2em;
    margin: auto;
    width: 315px;
    height: auto; }

/* =========================================
        GALLERY IMG HOVER
========================================= */
.gallery {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  margin: auto;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-pack: center;
  align-items: center; }

.art {
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  flex-direction: row;
  margin: 1em;
  width: 200px; }
  .art.map {
    width: 100%; }

.art img {
  width: 100%;
  transition: all 0.3s ease-in-out; }

.art:hover img {
  z-index: 1;
  transform: scale(1.5); }

/* ==============================
    BASIC STYLES / DEFAULT
============================== */
body {
  font-size: 16pt;
  font-family: "Monsterrat", sans-serif;
  height: 100%;
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Work Sans", sans-serif; }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.left {
  float: left; }

.right {
  float: right; }

a {
  color: #0d0d0d; }

a:hover {
  text-decoration: none; }

ul li {
  list-style-type: none; }

/* ==========================================
                HIDE / SHOW MOBILE
 ========================================== */
.hide-mob {
  display: block; }

.show-mob {
  display: none; }

/*==============================================================================
                              BUTTON
==============================================================================*/
.button {
  background-color: #88B04B;
  background-image: -webkit-linear-gradient(top, #88B04B, #648236);
  background-image: -moz-linear-gradient(top, #88B04B, #648236);
  background-image: -ms-linear-gradient(top, #88B04B, #648236);
  background-image: -o-linear-gradient(top, #88B04B, #648236);
  background-image: linear-gradient(to bottom, #88B04B, #648236);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ebebeb;
  font-size: 1.1em;
  padding: 1em 2em;
  text-transform: uppercase;
  margin-top: auto;
  text-align: center;
  border: 1px solid #648236; }

.button:hover {
  background: #ebebeb;
  border: 1px solid #648236;
  color: #0d0d0d; }

/*==============================================================================
                    Font awesome, social media links
==============================================================================*/
.fa {
  padding: 0.25em;
  border-radius: 10px; }

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7; }

/* Set a specific color for each brand */
/* Facebook */
.fa-flickr {
  background: #3B5998;
  color: white; }

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white; }

/* Twitter */
.fa-linkedin {
  background: #0077b5;
  color: white; }

.fa-flickr {
  background: #ff0084; }

.fa-bitbucket {
  background: #205081;
  color: #ebebeb; }

.fa-github {
  background: black;
  color: #ebebeb; }

/*==============================================================================
                          Header stylings
==============================================================================*/
header {
  background: #2e2e2e;
  color: #ebebeb;
  margin: 0;
  padding: 1em; }

nav {
  width: 90%;
  height: 100%;
  margin: 1em 0; }

nav ul, nav li {
  padding: 0;
  margin: 0;
  list-style: none;
  min-height: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

nav ul li a {
  font-size: 1em;
  color: #ebebeb;
  margin: auto 1em;
  padding: 0.5em .25em;
  display: block;
  max-width: 5em;
  box-sizing: content-box; }

nav li {
  -webkit-align-items: center;
  -ms-flex-pack: center;
  align-items: center; }
  nav li.brand {
    margin-right: auto;
    margin-left: 1em;
    text-transform: uppercase; }

nav li:hover {
  background: #3f3f3f; }

nav li.brand {
  background: none; }

.blink {
  animation: fadeIn 1s infinite alternate; }

/*  ============================================================================
                                  SECTION #spotlight
============================================================================= */
.sections {
  width: 90%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  flex-direction: row;
  margin: 3em auto; }

.ps {
  width: 90%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  flex-direction: column;
  margin: 3em auto; }

#spotlight h2 {
  display: none; }

.sections h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1em; }

.feature {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-pack: center;
  align-items: center;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  flex-direction: column;
  padding: 1em;
  border: 1px solid #7e7e7e;
  margin: 1em;
  vertical-align: middle;
  -webkit-box-shadow: 0px 4px 66px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 66px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 66px -9px rgba(0, 0, 0, 0.75); }
  .feature h2, .feature h3 {
    margin: 1em 0; }
  .feature p {
    margin-bottom: 2em; }
  .feature p:nth-child(2) {
    margin-bottom: 1em; }

.feature:first-child {
  margin-left: 0;
  -webkit-box-shadow: -12px 4px 66px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -12px 4px 66px -9px rgba(0, 0, 0, 0.75);
  box-shadow: -12px 4px 66px -9px rgba(0, 0, 0, 0.75); }

.feature:last-child {
  margin-right: 0;
  -webkit-box-shadow: 12px 4px 66px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 12px 4px 66px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 12px 4px 66px -9px rgba(0, 0, 0, 0.75); }

.img-wrap img {
  width: 100%; }

/*  ============================================================================
                                  PARALLAX
============================================================================= */
.parallax {
  /* The image used */
  background-image: url("../images/timelapse-crop.jpg");
  /* Full height */
  height: 300px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .parallax#map {
    background-image: url("../images/nw-map.png");
    height: 600px; }

/*  ============================================================================
                                  SECTION #social
============================================================================= */
#social {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 5em auto;
  display: inline; }

.description {
  width: 25%;
  min-width: 300px;
  margin: 3em auto;
  font-size: 1.2em;
  line-height: 1.5em; }

#abilities {
  margin-top: 2em; }

#social ul, #social ul li {
  padding: 1em;
  margin: 1em;
  list-style: none;
  min-height: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-around;
  align-self: baseline; }

/*  ============================================================================
                                  SECTION #contact
============================================================================= */
#contact {
  width: 100%;
  background: #0d0d0d;
  color: #ebebeb;
  padding: 3em 0;
  margin-bottom: -50px; }

#contact ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 1em; }
  #contact ul li {
    margin: auto; }

#contact ul li a:visited {
  color: #ebebeb; }

#contact ul li a:link {
  color: #ebebeb; }

#contact ul li a:hover {
  color: #ebebeb; }

#contact ul li a:active {
  color: #ebebeb; }

/*  ============================================================================
                                FOOTER
============================================================================= */
footer {
  font-size: 1em;
  background-color: #ebebeb;
  text-align: center;
  letter-spacing: 1em;
  text-transform: capitalize;
  padding: 3em 0;
  width: 100%; }
  footer p:nth-child(2) {
    letter-spacing: 3pt;
    font-size: 0.75em; }
  footer a {
    text-decoration: none;
    color: #0d0d0d;
    font-weight: bolder; }
  footer a:hover {
    text-decoration: underline; }

/* =======================================================================
                          MEDIA QUERY
======================================================================= */
@media only screen and (max-width: 720px) {
  /*================================
      Flex and order for mobile
  ================================*/
  body {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    flex-direction: column; }
  header {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1; }
  #social {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2; }
  #prototype {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2; }
  #spotlight {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3; }
  #contact {
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4; }
  footer {
    -webkit-order: 5;
    -ms-flex-order: 5;
    order: 5; }
  /* ===========
nav bar re-order
========== */
  nav ul {
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    flex-direction: column;
    font-size: 0.8em;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1; }
  nav ul li.brand {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2; }
    nav ul li.brand h2 {
      font-size: 1.2em; }
  /*================================
  nav styles
  ================================*/
  nav {
    margin-top: 0;
    margin-bottom: 1em; }
  nav li {
    margin-bottom: 0.25em; }
  nav ul li a {
    max-width: 100%;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    border-bottom: 1px solid black; }
  /* ==============================
  SECTION #spotlight
  ============================== */
  #spotlight {
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    flex-direction: column;
    width: 99%; }
  .feature {
    padding: 0 auto;
    margin: 1em; }
  #spotlight h2 {
    display: inline; }
  .feature:first-child {
    margin-left: 1em;
    -webkit-box-shadow: 0px 4px 66px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 66px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 66px -9px rgba(0, 0, 0, 0.75); }
  .feature:first-child, .feature:first-child img {
    border-radius: 0px; }
  .feature:last-child {
    margin-right: 1em;
    -webkit-box-shadow: 0px 4px 66px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 66px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 66px -9px rgba(0, 0, 0, 0.75); }
  .feature:last-child, .feature:last-child img {
    border-radius: 0px; }
  .button {
    font-weight: bolder;
    text-align: center;
    padding: 1em; }
  /* ==============================
  PARALLAX - DESCRIPTION
  ============================== */
  .parallax {
    display: none; }
  #description {
    columns: 1;
    margin: 1em; }
  /* ==============================
  SECTION #social
  ============================== */
  #social {
    width: 90%; }
  /* ==============================
        PROTOTYPE
  ============================== */
  .row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-pack: center;
    align-items: center;
    width: 100%; }
    .row iframe {
      margin: auto;
      width: 95%;
      margin-top: 2em; }
  /* ==============================
  FOOTER
  ============================== */
  footer {
    font-size: 0.8em p; }
    footer :nth-child(2) {
      display: none; }
  /* ==============================
  HIDE / SHOW MOBILE
  ============================== */
  .hide-mob {
    display: none; }
  .show-mob {
    display: inline; }
  .cm img {
    max-width: 300px;
    margin: auto; } }

/*close media query */
#modal {
  left: 50%;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out; }

#modal:target {
  opacity: 1;
  top: 50%;
  visibility: visible; }

#modal .btn {
  float: right; }

#modal .copy, #modal .header, #modal .footer {
  padding: 10px;
  color: #0d0d0d; }

.modal-content {
  background: #ebebeb;
  position: relative;
  z-index: 20;
  border-radius: 5px;
  color: #0d0d0d; }

#modal .copy {
  background: #ebebeb; }

#modal .overlay {
  background-color: #000;
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10; }

.copy a {
  color: #0d0d0d;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #4f8a10; }
